:8080 {
  @missingAuth expression `{env.PRISMA_STUDIO_BASIC_AUTH_HASH} == ""`
  handle @missingAuth {
    respond "Missing PRISMA_STUDIO_BASIC_AUTH_HASH env var" 500
  }

  basicauth {
    {$PRISMA_STUDIO_BASIC_AUTH_USER} {$PRISMA_STUDIO_BASIC_AUTH_HASH}
  }

  reverse_proxy prisma-studio:5555
}
